#form {
  background-color: #eee3cb;
  padding: 4ch;
  margin: 0, 5px;
  width: 200px;
  height: 150px;
  font-family: calibri;
}

input[type="submit"] {
  background-color: #d7c0ae;
  color: color 50% #292828;
  margin-top: 18px;
}

input[type="reset"] {
  background-color: #d7c0ae;
  color: color 50% #292828;
}

input[type="button"] {
  background-color: #d7c0ae;
  color: color 50% #292828;
}
table {
  font-family: calibri;
  background-color: #eee3cb;
  border-collapse: collapse;
}
#title {
  background: #967e76;
  font-size: 30px;
  color:50% #eee3cb;
  border: solid 2px;
  width: 50px;
  height: 100px;
}
th {
  background-color: #7d858c;
  height: 45px;
  border: solid 2px;
  color: #f9f2e3;
}
td {
  border: solid 2px;
  border-color: rgb(241, 241, 246);
  padding: 4px;
}
button {
  background-color:#7d858c;
  border-radius: 800px;
    
  padding: 10px;
  color: #eee3cb;
}

